footer{
}
.page-footer{
  background-color: #FFD299;
}
.footer-sns-wrapper{  
  display: flex;
  justify-content: flex-start;
}
.footer-sns-wrapper > a{
  display: flex;
}
.footer-sns-wrapper > a > img:first-child{
  margin-left: 20px;
}
.footer-sns-wrapper > a > img{
  margin: auto 20px;
  border-radius: 50%;
  width: 4em;
}
.footer-copyright-wrapper{
  display: block;
  margin: auto 10px 10px 0;
}
.footer-copyright{
  margin-top: 0;
  white-space: nowrap;
  font-size: 15px;
  color: #fafaff;
}
@media screen  and (min-width: 768px) {
}

@media screen and (max-width: 767px) {
  .footer-copyright-wrapper{
  }
}