.distorted-circle{
  width: 80%;
  background: -moz-linear-gradient(left, #FFCFCF, #FFB5BF);
  background: -webkit-linear-gradient(left, #FFCFCF, #FFB5BF);
  background: linear-gradient(to right, #FFCFCF, #FFB5BF);
  border-radius:66% 13% 24% 29% / 74% 18% 58% 21%;
}