.distorted-circle{
  width: 80%;
  background: -moz-linear-gradient(left, #FF99FF, #FFCCFF);
  background: -webkit-linear-gradient(left, #FF99FF, #FFCCFF);
  background: linear-gradient(to right, #FF99FF, #FFCCFF);
  border-radius:85% 15% 70% 30% / 18% 20% 80% 82% ;
}